<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <title>About</title></head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header}"></header>

    <div class="info">
        <div></div>
        <div>
            <h4>About</h4>
            A forum community dedicated to Aquarium owners and enthusiasts. Come join the discussion about collections,
            displays, product reviews, accessories, classifieds, breeding, health, behavior, housing, care, and more!
        </div>
        <div></div>
    </div>
    <h1 class="border-bottom"></h1>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer}"></footer>
</html>