<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
    <title>Add topic</title></head>

<body>
<main class="p-5 align-content-center bg-blur my-register-div">

    <header th:replace="~{fragments/header}"></header>

    <h1 class="border-bottom mb-5">Add new topic</h1>
    <div class="row justify-content-center">

        <div class="align-items-center">
            <form
                    th:action="@{/topics/add}"
                    th:method="post"
                    th:object="${topicAddDTO}"
                    enctype="multipart/form-data">
                <div>
                    <div class="form-group">
                        <label for="inputName" class="col-form-label ">Name</label>
                    </div>
                    <div class="form-group">
                        <input name="name"
                               th:field="*{name}"
                               th:value="*{name}"
                               th:errorclass="is-invalid"
                               required minlength="5" maxlength="20"
                               type="text"
                               id="inputName"
                               class="form-control"
                               aria-describedby="inputNameHelpInline">
                        <small th:errors="*{name}"
                               th:class="'invalid-feedback rounded'">error message</small>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="inputDescription" class="col-form-label ">Description</label>
                    </div>
                    <div class="form-group">
                    <textarea name="description"
                              th:field="*{description}"
                              th:value="*{description}"
                              th:errorclass="is-invalid"
                              required
                              minlength="5"
                              maxlength="250"
                              id="inputDescription"
                              class="form-control"
                              aria-describedby="inputDescriptionHelpInline"></textarea>
                        <small th:errors="*{description}"
                               th:class="'invalid-feedback rounded'">error message</small>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="inputPicture" class="col-form-label ">Picture</label>
                    </div>
                    <div class="form-group">
                        <input type="file"
                               name="picture"
                               th:field="*{pictureFile}"
                               th:value="*{pictureFile}"
                               id="inputPicture"
                               class="form-control-file"
                               aria-describedby="inputPictureHelpInline">
                        <small th:errors="*{pictureFile}"
                               th:class="'invalid-feedback rounded'">error message</small>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="inputHabitat">Habitat</label>
                        <select id="inputHabitat"
                                name="habitat"
                                th:field="*{habitat}"
                                th:value="*{habitat}"
                                th:errorclass="is-invalid"
                                required
                                class="custom-select"
                                aria-describedby="habitatHelpInline">
                            <option value="" selected>Select habitat</option>
                            <option value="FRESHWATER">Freshwater</option>
                            <option value="BLACK_WATER">Black water</option>
                            <option value="BRACKISH_WATER">Brackish water</option>
                            <option value="REEF">Reef</option>
                        </select>
                        <small th:errors="*{habitat}"
                               th:class="'invalid-feedback rounded'">error message</small>

                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="inputLevel">Level</label>
                        <select id="inputLevel"
                                name="level"
                                th:field="*{level}"
                                th:value="*{level}"
                                th:errorclass="is-invalid"
                                required
                                class="custom-select"
                                aria-describedby="levelHelpInline">
                            <option value="" selected>Select level</option>
                            <option value="BEGINNER">Beginner</option>
                            <option value="INTERMEDIATE">Intermediate</option>
                            <option value="ADVANCED">Advanced</option>
                        </select>
                        <small th:errors="*{level}"
                               th:class="'invalid-feedback rounded'">error message</small>

                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="inputVideoUrl">Video Url (only last eleven characters from YouTube)</label>
                        <input id="inputVideoUrl"
                               name="videoUrl"
                               th:field="*{videoUrl}"
                               th:value="*{videoUrl}"
                               th:errorclass="is-invalid"
                               minlength="5" maxlength="11"
                               type="text"
                               class="form-control"
                               placeholder="Video url">
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Add topic</button>
                </div>

            </form>
        </div>
    </div>
    <h1 class="border-bottom"></h1>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
