<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header}"></header>

    <section class="topic">
        <img th:src="'https://http.cat/' + ${statusCode}" th:width="500" th:height="450" alt="Title image">
        <div>
            <h2>Something Went Wrong:
                <span th:text="${message}" style="color: red"></span>
            </h2>

            <a th:href="@{/static}" class="btn">Back home</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer}"></footer>
</html>