<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<div class="wrapper">
    <header th:replace="~{fragments/header}"></header>
    <h1 class="border-bottom">Topic details</h1>

    <input type="hidden" name="topicId" id="topicId">

    <div class="details-main align-content-center">
        <section class="topic-info text-center">
            <h4 id="track-name"></h4>

            <h4>Author name: <span th:text="*{topicsDetailsView.author}" id="authorName"></span></h4>

            <div class="align-content-center">
                <h4>Difficulty level:
                    <div th:replace="~{|fragments/level/${topicsDetailsView.level.toLowerCase()}|}"></div>
                </h4>
                <h4>Habitat:
                    <div th:replace="~{|fragments/habitat/${topicsDetailsView.habitat.toLowerCase()}|}"></div>
                </h4>
            </div>

        </section>

        <section id="map">
            <img th:src="${topicsDetailsView.picture}" alt="Title image">
        </section>

        <section id="video">
            <iframe id="frame" th:src="|https://www.youtube.com/embed/${topicsDetailsView.videoUrl}|"></iframe>
        </section>

        <section class="topic-description text-center">
            <h4>Description: </h4>
            <p id="topic-description" th:text="${topicsDetailsView.description}"></p>
        </section>

        <section th:if="${topicsDetailsView.approved}" class="comments">
            <h1>Comments</h1>
            <div class="comments">
                <div class="form-group" th:each="comment:${topicsDetailsView.comments}">
                    <h5 th:text="|${comment.author}:|">Leave a comment:</h5>
                    <label th:text="${comment.context}">Massage:</label>
                </div>
            </div>

            <div>
                <form id="commentForm"
                      th:action="@{|/topics/details/${topicsDetailsView.id}/comments/add|}"
                      th:method="POST">

                    <input type="hidden" name="topicId" th:value="${topicsDetailsView.id}">
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <label for="context">Message</label>
                        <textarea name="context"
                                  id="context"
                                  cols="30"
                                  rows="5"
                                  class="form-control"
                                  style="background-color: white;"></textarea>
                        <small id="contextError" class="invalid-feedback">
                            Message should be at least 10 characters.
                        </small>
                    </div>

                    <div class="form-group">
                        <input type="submit"
                               class="btn"
                               id="postComment"
                               value="Post Comment"/>
                    </div>
                </form>
            </div>
            <div>
                <span id="commentCtnr"></span>
            </div>
        </section>

    </div>
    <h1 class="border-bottom"></h1>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
