<div class="freshwater">
    <div></div>
    <div>
        <img src="/images/freshwater-icon.png" height="150px" alt="">
        <h4>Freshwater aquarium</h4>
        <p> Freshwater aquarium is a receptacle that holds one or more habitat aquatic
            organisms for decorative, pet-keeping, or research purposes. Modern aquariums are most often
            made from transparent glass or acrylic glass. Typical inhabitants include fish, plants, amphibians,
            and invertebrates, such as snails and crustaceans.

            Tropical habitat aquarium
            Freshwater fish may be either coldwater or tropical species. Although habitat aquariums can be set
            up as community tanks, coldwater and tropical fish are generally not mixed due to incompatibilities in
            temperature requirements. Coldwater aquariums house goldfish and other species that do not require a
            heating apparatus. Warmer temperatures would actually increase their metabolism and shorten their
            lifespan. For a tropical fish tank, maintaining a warm environmental temperature ranging between 75
            and 86 °F (24 to 30 °C) enables different tropical fish to thrive at different temperatures.

            Aquarium substrate usually consists of sand or gravel. Aquarium substrate is important for the fishes
            health, and replicating their natural environment. Aquarium decoration can consist of live or plastic
            plants, driftwood, rocks, and a variety of commercially made plastic sculptures. Though rocks and
            plants have more practical purposes for the health of the fishes and the water quality. The smallest
            aquariums are fish bowls, but these are not recommended for most fish as they are generally too small,
            tend to stunt fish growth, and may lead to eventual death.
        </p>
    </div>
    <div></div>
</div>