<nav class="main-nav">
    <ul>
        <li>
            <a th:href="@{/topics/add}">Add new topics</a>
        </li>
        <li>
            <a th:href="@{/users/profile}">Profile</a>
        </li>

        <th:block sec :authorize="hasRole('ROLE_MODERATOR')">
            <li>
                <a th:href="@{/admin/approve}">Topics to approve</a>
            </li>

            <th:block sec :authorize="hasRole('ROLE_ADMIN')">
                <li>
                    <a th:href="@{/admin/edit-user}">Change role and level</a>
                </li>
            </th:block>

        </th:block>

        <li>
            <a th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>