<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header}"></header>

    <div class="blackwater">
        <div></div>
        <div>
            <img src="/images/blackwater-icon.png" height="150px" alt="">
            <h4>Blackwater aquarium</h4>
            <p> What is a Blackwater Aquarium? A blackwater aquarium is a type of freshwater aquarium
                that is characterized by its dark, tea-colored water. The water color is achieved by adding natural
                tannins, which are released from materials such as driftwood, peat moss, almond leaves and other
                botanicals. This type of aquarium is popular among hobbyists who want to recreate the natural habitat
                of fish species found in the Amazon basin and other tropical regions.
            </p>
            <a href="/topics/blackwater" class="btn">To blackwater topics</a>
        </div>
        <div></div>
    </div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer}"></footer>
</html>