<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header}"></header>

    <!-- Top Container -->
    <section class="top-container">
        <div class="showcase">
            <h1>Find amazing topics</h1>
            <p>
                Looking for amazing underwater species and how to take care of them?
                Find out one hidden world and enjoy nature!
            </p>
            <a href="/topics" class="btn">To topics</a>
        </div>
        <a href="/beginners-guide" class="main-btn">
            <div class="box">
                <img src="images/beginners-guide-icon.png" height="150px" alt="">
                <h3>Begginer's guide</h3>
                <p>You just started up your first aquarium?</p>
            </div>
        </a>
        <a href="/latest-topic" class="main-btn">
            <div class="box">
                <img src="/images/latest-topic.png" height="150px" alt="">
                <h3>Latest topic</h3>
                <p>What is new?</p>
            </div>
        </a>
    </section>

    <!-- Boxes Section -->
    <section class="boxes">
        <a href="/freshwater" class="main-btn">
            <div class="box">
                <img src="/images/freshwater-icon.png" height="150px" alt="">
                <h3>Freshwater setup</h3>
                <p>You love the classic setup?</p>
            </div>
        </a>
        <a href="/blackwater" class="main-btn">
            <div class="box">
                <img src="/images/blackwater-icon.png" height="150px" alt="">
                <h3>Blackwater setup</h3>
                <p>When you want mimic the nature.</p>
            </div>
        </a>
        <a href="/brackish-water" class="main-btn">
            <div class="box">
                <img src="/images/brackish-water-icon.png" height="150px" alt="">
                <h3>Brackish water setup</h3>
                <p>Challenging meeting of river end sea?</p>
            </div>
        </a>
        <a href="/reef" class="main-btn">
            <div class="box">
                <img src="/images/reef-icon.png" height="150px" alt="">
                <h3>Reef setup</h3>
                <p>Welcome the deep sea at home!</p>
            </div>
        </a>
    </section>

    <!-- Info Section -->
    <section class="topic">
        <!--        Most commented topics first picture -->
        <img th:src="${mostCommented.pictures.get(0).getPictureUrl()}" alt="">
        <div>
            <h2>The most commented topics: <span th:text="${mostCommented.name}"></span></h2>
            <p>Read more about the most commented topics and do not miss the
                chance give your opinion to help other users.</p>
            <!--            Generate link to topics -->
            <a th:unless="mostCommented.id != null" th:href="@{/topic/details/:id(id = ${mostCommented.id})}" class="btn">
                Learn More</a>
        </div>
    </section>

    <!-- Portfolio -->
    <section class="gallery">
        <img src="/images/galery1.webp" width="200px"
             height="200px" alt="">
        <img src="/images/galery2.jpg" width="200px"
             height="200px" alt="">
    </section>

</div>
<!-- Wrapper Ends -->'

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
