<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/header"></header>

    <div class="reef">
        <div></div>
        <div>
            <img src="/images/reef-icon.png" height="150px" alt="">
            <h4>Reef aquarium</h4>
            <p> A saltwater, reef aquarium is a marine aquarium that prominently displays live
                corals and other marine invertebrates as well as fish that play a role in maintaining the tropical
                coral reef environment. A reef aquarium requires appropriately intense lighting, turbulent water
                movement, and more stable water chemistry than fish-only marine aquaria, and careful consideration is
                given to which reef animals are appropriate and compatible with each other.
            </p>
            <a href="/topics/reef" class="btn">To reef topics</a>
        </div>
        <div></div>
    </div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/footer"></footer>
</html>