<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
    <title>Topics</title></head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header}"></header>

    <section class="topic">
        <!--            TODO th:each for added topics-->

        <img src="/images/background.jpeg" alt="Title image">
        <div>
            <h2>All topics</h2>
            <p>....</p>
<!--            buttons ->-->
            <a href="/" class="btn">Learn More</a>
<!--            TODO hide if not admin or own topic-->
            <a href="/" class="btn">Remove</a>
            <a href="/" class="btn">Approve</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer}"></footer>
</html>