<div class="brackish-water">
    <div></div>
    <div>
        <img src="/images/brackish-water-icon.png" height="150px" alt="">
        <h4>Brackish aquarium</h4>
        <p> A brackish-water aquarium is an aquarium where the water is brackish (semi-salty).
            The range of "saltiness" varies greatly, from near freshwater to near marine and is often referred to
            as specific gravity (SG) or salinity. Brackish water aquaria is a popular specialization within the
            fishkeeping hobby. Many species of fish traded as freshwater species are actually true brackish species,
            for example mollies, Florida flagfish, and some cichlids such as chromides and black-chin tilapia. There
            are also several popular species traded purely as brackish water fish, including monos , scats,
            archerfish, and various species of pufferfish, goby, flatfish, and gar. Generally, aquarists need to
            maintain a specific gravity of around 1.005 to 1.010 depending on the species being kept, but practically
            all brackish water fish tolerate variations in salinity well, and some aquarists maintain that regularly
            fluctuating the salinity in the aquarium actually keeps the fish healthy and free of parasites.
        </p>
    </div>
    <div></div>
</div>